<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
  />
  <span>
    <a routerLink="/">Digital Payments</a>
  </span>
    <div class="spacer"></div>
    <div *ngIf="loggedIn; else notLoggedIn" class="account-div">
      <a routerLink="/">
        <button type="button" class="signup">
          Home
        </button>
      </a>
      <a routerLink="/withdraw">
        <button type="button" class="signup">
          Withdraw
        </button>
      </a>
      <a routerLink="/deposit">
        <button type="button" class="signup">
          Deposit
        </button>
      </a>
      <a routerLink="/transfer">
        <button type="button" class="signup">
          Transfer Funds
        </button>
      </a>
      <button (click)="logOut()" type="button" class="logout">
        LogOut
      </button>
      <button type="button" class="balance">
        Balance Ksh. {{account?.balance}}
      </button>
    </div>
    <div class="auth-div">
      <ng-template #notLoggedIn>
        <a routerLink="/signup">
          <button type="button" class="signup">
            Create Account
          </button>
        </a>
        <a routerLink="/login">
          <button type="button" class="login">
            Login
          </button>
        </a>
      </ng-template>
    </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
